/*feel free to edit the style if you needed.*/
ul#ul_________append {
	display: none;
    list-style: none;
    position: absolute;
    z-index: 1000;
    background-color: #f9f9f9;
    margin: 0;
	padding: 3px 0px;
    border: 1px solid #aaa;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 1px 3px 8px;
    min-height: 100px;
}
ul#ul_________append li {
    padding: 2px 4px;
}
ul#ul_________append li.active {
background: #5a82eb;
background: -moz-linear-gradient( top,#5a82eb,#2967f3);
background: -webkit-linear-gradient(top,#5a82eb,#2967f3);
background: -o-linear-gradient(top,#5a82eb, #2967f3);
}